# Core functionality - changes here should be rare!
/src/app.py                   @williamchong
/src/backend/database.py      @williamchong
/src/backend/routers/auth.py  @williamchong

# The frontend will need refactored soon to be more object oriented.
/src/static/   @williamchong
